# Python
__pycache__/
*.py[cod]
*.so
*.egg*
.build/
dist/
.eggs/
*.ipynb_checkpoints
.venv/
venv/
.env
.env.*
.DS_Store

# Project
data/
saved_models/
logs/
checkpoints/
wandb/
.cache/
*.pth
*.pt
*.ckpt

# VSCode
.vscode/

# Ignore stray update folders
your-dl-repo*/
